body {
  padding: 5rem;
}

.calc {
  margin-left: auto;
  width: 30rem;
  border: 1px solid grey;
}

.screen {
  grid-template-columns: 1fr;
  text-align: right;
  height: 2.2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgb(153, 152, 152);
}

#row1,
#row2,
#row3,
#row4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 2.5rem;
  cursor: pointer;
}

#row1 div,
#row2 div,
#row3 div,
#row4 div,
#row5 div {
  border: 1.2px solid rgb(223, 195, 195);
  text-align: center;
  padding-top: 0.4rem;
  background-color: rgb(238, 235, 235);
}

#row5 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 2.5rem;
  cursor: pointer;

}

.operators {
  background-color: rgb(255, 199, 95) !important;
  cursor: pointer;

}
