*{
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  height: 50px;
}

.navBar ul{
  display: flex;
  justify-content: space-around;
  width: 17rem;
  list-style: none;
}

.calc {
  width: 30rem;
  border: 1px solid grey;
}

.screen {
  grid-template-columns: 1fr;
  text-align: right;
  height: 2.2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgb(153, 152, 152);
}

#row1,
#row2,
#row3,
#row4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 2.5rem;
  cursor: pointer;
}

#row1 div,
#row2 div,
#row3 div,
#row4 div,
#row5 div {
  border: 1.2px solid rgb(223, 195, 195);
  text-align: center;
  padding-top: 0.4rem;
  background-color: rgb(238, 235, 235);
}

#row5 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 2.5rem;
  cursor: pointer;
}

.operators {
  background-color: rgb(255, 199, 95) !important;
  cursor: pointer;
}

/* .homePg, .quotesPg {
  border: 1px solid black;
} */

.homePg h1 {
  font-size: 1.5rem;;
  margin: 3rem 0;
}

.homePg {
  width: 80%;
  margin: auto;
  margin-bottom: 5rem;
}

.calcPg {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  justify-content: space-between;
}

.quotesPg {
  width: 80%;
  margin: auto;
  margin-top: 15%;
  font-size: 1.8rem;
}